/* CSS Reset */

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
html {
	font-size: 14px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

/* Variables */

:root {
	--green: hsl(75, 94%, 57%);
	--white: hsl(0, 0%, 100%);
	--grey: hsl(0, 0%, 20%);
	--dark-grey: hsl(0, 0%, 12%);
	--off-black: hsl(0, 0%, 8%);
}

@font-face {
	font-family: "Inter";
	src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

/* link box */

body {
	background-color: var(--off-black);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: "Inter";
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.link-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--dark-grey);
	border-radius: 0.80rem;
	padding: 20px;
	width: 280px;
}

.link-container img {
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

.link-container h1 {
	color: var(--white);
	margin-top: 15px;
	font-weight: 600;
	font-size: 1.35rem;
}

.link-container h3 {
	color: var(--green);
	font-size: 0.73rem;
	font-weight: 600;
	margin-bottom: 15px;
}

.social-header p {
	color: var(--white);
	font-size: 0.75rem;
	margin-bottom: 10px;
}

.links {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-size: 0.85rem;
	font-weight: 600;
}

.links a {
	margin: 5px;
	background-color: var(--grey);
	border-radius: 0.5rem;
	padding: 8px;
	text-align: center;
	color: var(--white);
	text-decoration: none;
}

.links a:hover {
	color: var(--off-black);
	background-color: var(--green);
}

.social-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
